.thumb {
    max-width: 400px;
    max-height: 300px;
    cursor: zoom-in;
    border-radius: 100rem;
    transition: 0.2s;
    margin: 50px;
}

.thumb:hover {
    max-width: 500px;
    max-height: 400px;
    /* opacity: 75%; */
    border-radius: 50px;
    margin: 0px;
    padding: 0px;
}

