.thumb {
    width: 300px;
    height: auto;
    cursor: pointer;
    border-radius: 100px;
    transition: 0.25s;
    margin: 100px;
}

.thumb:hover {
    width: 500px;
    height: auto;
    opacity: 50%;
    border-radius: 50px;
    margin: 0px;
    padding: 0px;
}

