.thumb {
    width: 400px;
    height: auto;
    cursor: zoom-in;
    border-radius: 100rem;
    transition: 0.2s;
    margin: 50px;
}

.thumb:hover {
    width: 500px;
    height: auto;
    opacity: 75%;
    border-radius: 50px;
    margin: 0px;
    padding: 0px;
}

